__pycache__/
*.py[codz]
*$py.class

__pypackages__/

.env
.venv/

.idea/

/data/models/svd.pkl
/data/models/item_based.pkl
/data/raw/
/data/split/

.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache