__pycache__/
*.py[codz]
*$py.class

__pypackages__/

.env
.venv/

.idea/


/data/raw/
/artifacts/split/
/artifacts/models

.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache
/testing
/data_csv
